<!-- 
  In layout.ejs 
  this allows you to put body in a main template structure 
  reduce code dupliation
-->
<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <header>...</header>
    <%- body %>
    <footer>...</footer>
  </body>
</html>
